html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
.clearfix:after {
    clear: both;
    font-size: 0;
    content: " \20 ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

$c-1e:#1e4d81; $c-96:#96001e; $c-15:#155f82; $c-00:#006069;
$st: "\5B8B\4F53"; $msyh: "\5FAE\8F6F\96C5\9ED1";
@mixin crop{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
@mixin title16{
    color: $c-1e;
    font-size: 16px;
    font-family: $msyh;
    font-weight: bold;;
}

.a1{color: #a10000!important;}.c0{color: #c02076!important;}.c15{color: $c-15!important;}
.f3{color: #fff!important;}.c96{color: $c-96!important;}.c00{color: #00875a!important;}
.fl{float: left!important;}.fr{float: right!important;}
.mt5{margin-top: 5px!important;}.mt10{margin-top: 10px!important;}.mt15{margin-top: 15px!important;}
.mt20{margin-top: 20px!important;}.mt22{margin-top: 22px!important;}
a{color: #3b3b3b; text-decoration: none;}
a:hover{text-decoration: underline;}a:focus{outline: none;}
a.gl-more{ margin-top: 5px; font-size: 12px!important;}
a.gl-more b{color: #a10000; font-family: $st;}
a.edu-more,a.edu-more2{ margin-top: 8px; font-size: 12px!important;}
a.edu-more{color: #ff9a00;}a.edu-more b{color: #ff9a00; font-family: $st;}
a.edu-more2{color: #00875a;}a.edu-more2 b{color: #00875a; font-family: $st;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight: normal;}li{list-style: none;}
body{font: 14px/1.5 $st, Arial, sans-serif;}

/* sprites */
i.sprites{display: inline-block; text-indent: -9999px; background: url(../images/sprites.jpg) no-repeat;}
i.sscp{width: 34px; height: 44px; background-position: 0 0;}

/* layout */
.row,.ad-banner{width: 1000px; clear: both;}
.ad-banner{margin: 22px 0;a{display: block;}}
.gl-col1,.gl-col2,.law-col1,.law-col2,.law-col1-2,.edu-col1,.edu-col2,{float: left; overflow: hidden;}
.gl-col3,.law-col3,.edu-col3{float: right; overflow: hidden;}
.gl-col1{width: 317px;}.gl-col2{width: 357px; margin-left: 22px;}.gl-col3{width: 282px;}
.law-col1{width: 305px;}.law-col2{width: 370px; margin-left: 25px;}.law-col3{width: 275px;}.law-col1-2{width: 700px;}
.edu-col1{width: 295px;}.edu-col2{width: 415px; margin-left: 25px;}.edu-col3{width: 240px;}

