@charset "utf-8";

@import "partial/normalize";
@import "partial/commen-set";
@import "partial/header";
@import "partial/main-nav";
@import "partial/head";
@import "partial/slide";

/* management page */
.feature{
	border: 1px solid #d0d0d0;
	padding: 5px 5px 0;
	.block{
		padding: 0 0 10px;
		overflow: hidden;
		position: relative;
		.pic{
			width: 156px;
			height: 111px;
			overflow: hidden;
			position: absolute;
			left: 0;
			top: 0;
		}
		.title,p{
			padding-left: 162px;
		}
		.title{
			font-size: 14px;
			font-family: $msyh;
			a{
				color: $c-1e;
				font-weight: bold;
			}
		}
		p{
			color: #5a5a5a;
			font-size: 12px;
			text-indent: 1em;
		}
	}
}

.hero{
	height: 122px;
	margin: 0 0 9px;
	padding: 8px 0 9px;
	border-bottom: 2px solid #e8e8e8;
	h1{
		margin: 0 0 5px 12px;
		font-size: 22px;
		font-family: $msyh;
		a{
			&:hover{
				color: #1E4D81;
			}
		}
	}
	p{
		color: #686868;
		font-size: 12px;
		line-height: 27px;
		text-indent: 1em;
	}
}

.gl-list-col2,.gl-list{
	line-height: 27px;
	dd{
		height: 27px;
		width: 100%;
		background: url(../images/6px_dot.jpg) 0 11px no-repeat;
		@include crop;
		a{
			margin-left: 14px;
			&:hover{
				color: #1E4D81;
				font-weight: bold;
				text-decoration: none;
			}
		}
	}
}

.gl-col2 .jlr{
	margin: 11px 0 0;
	height: 205px;
	.abstract{
		p{
			height: 80px;
		}
	}
}

.one-detail-of-list{
	margin: 10px 0 0;
	height: 108px;
	padding-left: 102px;
	position: relative;
	.figure{
		width: 94px;
		height: 94px;
		position: absolute;
		left: 0;
		top: 3px;
	}
	h3.title{
		margin: 0 0 5px;
		font-size: 16px;
		font-weight: bold;
		font-family: $msyh;
		@include crop;
		a{
			color: $c-1e;
		}
	}
	p{
		color: #5a5a5a;
		font-size: 12px;
		line-height: 2;
		text-indent: 2em;
	}
}

.m-schools{
	height: 201px;
	margin: 11px 0 0;
	h3{
		margin: 0 0 6px;
		padding-left: 24px;
		a{
			@include title16;
		}
	}
	p{
		color: #686868;
		font-size: 12px;
		text-indent: 2em;
		line-height: 2;
	}
	.schools-list{
		line-height: 28px;
		span{
			float: left;
			display: inline;
			width: 49%;
			background: url(../images/2px_dot_gray.jpg) 9px 14px no-repeat;
			@include crop;
			a{
				margin-left: 22px;
			}
		}
	}
}

.gl-list-col3,.gl-list-col1{
	margin: 11px 0 0;
	padding: 5px 0 10px;
	border: 1px solid #ccc;
	background: #fcfcfc;
	line-height: 2;
	dt{
		a{
			@include title16;
			padding: 0 0 0 12px;
		}
	}
	dd{
		width: 100%;
		@include crop;
		background: url(../images/2px_dot.jpg) 6px 14px no-repeat;
		a{
			color: $c-1e;
			font-size: 12px;
			margin-left: 15px;
			&:hover{
				font-weight: bold;
				text-decoration: none;
			}
		}
	}
}

.gl-list-col3{
	&.xh{
		background: url(../images/gl_ccma.jpg) 176px 7px no-repeat;
		position: relative;
		.ccma{
			display: block;
			width: 97px;
			height: 97px;
			position: absolute;
			top: 7px;
			right: 7px;
			z-index: 10000;
		}
	}
	.access{
		display: block;
		height: 57px;
		line-height: 23px;
		margin: 20px 0 0;
		background: url(../images/gl_click_to_access.jpg) no-repeat;
		a{
			color: #fff;
			display: block;
			cursor: pointer;
			font-weight: bold;
			font-size: 12px;
			padding: 35px 0 0 8px;
			_margin-left: 0;
			_width: 272px;
			b{
				color: #ef9117;
			}
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.gl-col1{
	.gl-list-col1{
		a{
			color: #3b3b3b;
			&:hover{
				color: $c-1e;
			}
		}
		.abstract{
			a{
				color: $c-1e;
			}
		}
	}
}

.gl-list{
	margin: 17px 0 0;
	.enhance{
		font-size: 16px;
		font-family: $msyh;
		font-weight: bold;
		margin: 0 0 5px;
		background: none!important;
		a:hover{
			text-decoration: underline;
		}
	}
	.figure{
		height: 113px;
		a{
			display: inline-block;
			margin: 5px 20px 0 0;
			img{
				vertical-align: bottom;
			}
		}
	}
}

.abstract{
	a.fl{
		&:hover{
			text-decoration: none;
		}
		img.fl{
			margin: 0 12px 0 3px;
		}
	}
	h3{
		@include crop;
		a{
			@include title16;
			position: relative;
			top: -5px;
		}
	}
	p{
		color: #686868;
		font-size: 12px;
		text-indent: 2em;
	}
}

.book-list{
	height: 170px;
	margin: 11px 0 0;
	padding: 17px 0 0;
	line-height: 22px;
	border: 1px solid #ddd;
	overflow: hidden;
	a{
		color: #3b3b3b;
		&:hover{
			color: $c-1e;
		}
		&.category{
			color: $c-1e;
			font-weight: bold;
		}
	}
	.bl{
		width: 355px;
		height: 140px;
		overflow: hidden;
	}
	.books{
		height: 140px;
		margin: 0 0 5px;
		img{
			float: left;
			width: 95px;
			height: 138px;
			margin-left: 6px;
			border: 1px solid #7b7b7b;
		}
	}
	p{
		width: 100%;
	}
}

.pic-list{
	width: 355px;
	border-color: #85a3c4;
	background: #dadada;
	.books{
		width: 2000px;
		background: #fff;
		li{
			float: left;
			display: inline;
			a{
				float: left;
				margin-left: 16px;
				img{
					margin-left: 0;
				}
			}
		}
	}
}

.teacher-info{
	height: 100px;
	margin: 12px 0 -5px;
	overflow: hidden;
	p{
		font-size: 12px;
		padding: 0 0 0 109px;
		line-height: 20px;
		.t-name{
			color: $c-00;
		}
		a{
			color: #6e6e6e;
		}
	}
}

.book-info{
	height: 145px;
	margin: 12px 0 0;
	overflow: hidden;
	.book-desc{
		float: right;
		width: 183px;
		overflow: hidden;
		h3{
			@include crop;
			a{
				font-size: 14px;
				color: #000;
				font-weight: bold;
				&:hover{
					color: #016f62;
				}
			}
		}
		p{
			color: #585858;
			font-size: 13px;
			line-height: 20px;
			&.ti2{
				text-indent: 2em;
				a{
					color: #585858;
					&:hover{
						color: #006f69;
					}
				}
			}
		}
	}
}

/* law page and edu page */
.law-list,.edu-list-s,.edu-list{
	line-height: 28px;
	margin: 10px 0 0;
	dd{
		width: 100%;
		background: url(../images/2px_dot_gray.jpg) 0 14px no-repeat;
		a{
			display: block;
			font-size: 14px;
			padding-left: 8px;
			@include crop;
			&:hover{
				color: $c-96;
			}
		}
	}
	.interaction{
		display: block;
		height: 92px;
		margin: 9px 0 0;
		*margin-left: -8px;
	}
}
.edu-list-s dd a:hover,
.edu-list dd a:hover{
	color: #006f64;
}

.law-news{
	height: 308px;
	overflow: hidden;
	dd{
		height: 52px;
		margin: 0 0 12px;
		background: #dde6e9;
		a{
			color: #2f3942;
			display: block;
			padding: 6px 0 0 39px;
			position: relative;
			i{
				display: block;
				font-size: 0;
				width: 25px;
				height: 25px;
				background: url(../images/law_sprites_nums.jpg) no-repeat;
				position: absolute;
				left: 8px;
				_left: -31px;
				top: 14px;
				*top: 10px;
				&.num1{background-position: 0 0;}
				&.num2{background-position: 0 -26px;}
				&.num3{background-position: 0 -52px;}
				&.num4{background-position: 0 -78px;}
				&.num5{background-position: 0 -104px;}
			}
			&:hover{
				font-weight: bold;
				text-decoration: none;
				i{
					background-position-x: -26px;
				}
			}
		}
	}
}

/* law and edu common set */
.law-sermon,.edu-observe{
	height: 223px;
	overflow: hidden;
	.ls-box{
		height: 95px;
		margin: 16px 0 0;
		padding: 0 0 0 99px;
		overflow: visible;
		position: relative;
		.pic{
			width: 90px;
			height: 95px;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
		}
		h2{
			width: 100%;
			line-height: 1;
			margin: 0 0 10px;
			@include crop;
			a{
				color: #000;
				font-weight: bold;
			}
		}
		p{
			color: #585858;
			line-height: 25px;
		}
	}
}
.edu-observe{
	height: 196px;
	.ls-box{
		height: 77px;
		margin: 12px 0 0;
		padding: 0 0 0 87px;
		.pic{
			width: 77px;
			height: 76px;
			overflow: hidden;
		}
		h2{
			margin: 0 0 6px;
		}
		p{
			font-size: 13px;
			line-height: 20px;
			text-indent: 2em;
			a{
				color: #585858;
			}
		}
	}
}

.colligate-box{
	height: 228px;
	overflow: hidden;
	position: relative;
	.law-list{
		padding-left: 98px;
	}
	.corpus_author{
		color: $c-15;
		cursor: pointer;
		width: 88px;
		height: 108px;
		line-height: 18px;
		position: absolute;
		top: 14px;
		left: 0;
		span{
			font-weight: bold;
			display: block;
			text-align: center;
			@include crop;
		}
	}
	.corpus{
		width: 330px;
		line-height: 20px;
		margin: 7px 0 0;
		a{
			font-size: 12px;
			float: left;
			display: inline;
			width: 63px;
			margin-right: 14px;
			padding-left: 3px;
			@include crop;
			&:hover{
				font-weight: bold;
			}
		}
	}
	h3{
		width: 100%;
		@include crop;
		a{
			font-size: 16px;
			font-weight: bold;
			font-family: $st;
			&:hover{
				color: $c-96;
			}
		}
	}
	.cb-a{
		line-height: 28px;
		dd{
			width: 100%;
			@include crop;
			a{
				&:hover{
					color: $c-96;
				}
			}
		}
	}
}

.edu-col2 .colligate-box h3 a{color: #000;}
.edu-col2 .colligate-box h3 a:hover{color: #006f63;}
.edu-col2 .colligate-box .cb-a dd a:hover{color: #006f69;}

.edu-list-s{
	dd{
		background: url(../images/6px_dot_green.jpg) 0 12px no-repeat!important;
		a{
			padding-left: 13px!important;
		}
	}
}
.edu-list{
	margin: 5px 0 0;
}

/* philosophy page */
.phi-list{
	line-height: 30px;
	dt.sub-head{
		color: #608f9f;
		font-size: 16px;
		font-family: $msyh;
		padding: 0 0 8px 9px;
		a{
			color: #608f9f;
			&:hover,&.on{
				font-weight: bold;
				text-decoration: underline;
			}
		}
		span{
			margin: 0 5px;
		}
	}
	dd{
		height: 30px;
		padding-left: 23px;
		background: url(../images/6px_dot_yellow.jpg) 10px 13px no-repeat;
		a{
			float: left;
			width: 100%;
			@include crop;
			&:hover{
				color: #2670a6;
				text-decoration: none;
			}
		}
	}
}
.phi-list2{
	line-height: 24px;
	dd{
		height: 24px;
		padding-left: 12px;
		background: url(../images/2px_dot_gray.jpg) 5px 11px no-repeat;
		a{
			float: left;
			width: 100%;
			@include crop;
			&:hover{
				color: #2670a6;
				text-decoration: none;
			}
		}
	}
}
.phi-col1{
	.phi-list2{
		dd{
			font-size: 12px;
		}
	}
}
.phi-list3{
	line-height: 30px;
	dd{
		height: 30px;
		padding-left: 20px;
		background: url(../images/3px_dot_blue.jpg) 10px 14px no-repeat;
		&.even{
			font-weight: bold;
		}
		a{
			float: left;
			width: 100%;
			@include crop;
			&:hover{
				color: #2670a6;
				text-decoration: none;
			}
		}
	}
}
.phi-box{
	.phi-list{
		line-height: 26px;
		dd{
			height: 27px;
			background-position: 10px 10px;
		}
	}
	border: 1px solid #e1e1e1;
	padding-bottom: 6px;
	.special-column{
		font-size: 12px;
		font-family: $st;
		line-height: 24px;
		padding: 6px 3px 0;
		a{
			&:hover{
				color: #2670a6;
				text-decoration: none;
			}
		}
		.figure{
			float: left;
			width: 138px;
			height: 106px;
			margin-right: 5px;
			position: relative;
			span{
				cursor: pointer;
				color: #fff;
				width: 100%;
				height: 21px;
				@include crop;
				background: rgba(65,122,141,.67);
				_background: #325966;
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}
		.sec{
			height: 115px;
			line-height: 21px;
		}
	}
	h3.title{
		margin: 10px 12px 0;
		text-align: center;
		a{
			color: #111;
			font-weight: bold;
			&:hover{
				color: #246ba3;
				text-decoration: none;
			}
		}
	}
	.detail{
		color: #7e7e7e;
		font-size: 12px;
		font-family: $st;
		line-height: 24px;
		margin: 0 20px;
		text-indent: 2em;
		.readMore{
			&:hover{
				color: #246ba3;
				text-decoration: none;
			}	
		}
	}
	.phi-genres{
		padding-top: 5px;
		line-height: 28px;
		a{
			float: left;
			margin: 0 4px;
			white-space: nowrap;
			&:hover{
				color: #2670a6;
				text-decoration: none;
			}
		}
	}
}
.phi-mag{
	line-height: 28px;
	a{
		display: inline-block;
		white-space: nowrap;
		&:hover{
			color: #2670a6;
			text-decoration: none;
		}
	}
}
.phi-masters{
	.master{
		height: 125px;
		position: relative;
		.avatar{
			color: #000;
			width: 100px;
			text-align: center;
			position: absolute;
			left: 0;
			top: 5px;
			&:hover{
				color: #2670a6;
				text-decoration: none;
			}
			img{
				display: block;
			}
		}
		p{
			text-indent: 2em;
			padding-left: 110px;
			a{
				font-size: 12px;
				line-height: 22px;
				&:hover{
					color: #2670a6;
					text-decoration: none;
				}
			}
		}
	}
	.master-gap{
		height: 12px;
		font-size: 0;
		width: 100%;
		background: url(../images/phi_master_gap_bg.jpg) left center repeat-x;
	}
}
.phi-books{
	width: 110%;
	padding-top: 13px;
	a{
		font-size: 14px;
		font-weight: bold;
		color: #014d67;
		float: left;
		width: 100px;
		line-height: 24px;
		margin-right: 3px;
		text-align: center;
		img{
			display: inline-block;
			padding: 1px;
			border: 1px solid #fff;
			margin-bottom: -6px;
			_margin-bottom: 0;
		}
		&:hover{
			color: #3171b9;
			text-decoration: none;
			img{
				border-color: #c5c5c5;
			}
		}
	}
}

.hot-detail{
	margin: 0 0 8px;
	.phi-sub-title{
		height: 24px;
		margin: 15px 0 2px;
		text-align: center;
		@include crop;
		a{
			color: #18405d;
			font-size: 16px;
			font-family: $msyh;
			&:hover{
				color: #2670a6;
				text-decoration: none;
			}
		}
	}
	p{
		color: #7e7e7e;
		line-height: 30px;
		text-indent: 2em;
		.read-all{
			&:hover{
				color: #fb7217;
				text-decoration: none;
			}
		}
	}
}

/* plan page */
.plan-more{
	color: #686868;
	font-size: 12px;
	font-family: $msyh;
	&:hover{
		color: #0055a5;
		text-decoration: none;
	}	
}
.plan-view-point{
	height: 51px;
	margin: 6px 0 0;
	a{
		color: #000;
		float: left;
		height: 100%;
		line-height: 37px;
		padding-left: 202px;
		background: url(../images/plan_look_this.jpg) 0 0 no-repeat;
		&:hover{
			color: #595757;
			text-decoration: none;
		}
	}
}
.plan-issue{
	margin: 1px;
	height: 408px;
	overflow: hidden;
}

.plan-list{
	line-height: 30px;
	dd{
		height: 30px;
		padding-left: 10px;
		background: url(../images/2px_dot_gray.jpg) left center no-repeat;
		&:hover{
			background: url(../images/2px_dot.jpg) left center no-repeat;
		}
		a{
			float: left;
			width: 100%;
			@include crop;
			&:hover{
				color: #0055a5!important;
				text-decoration: none;
			}
		}
	}
}
.vp-rel{
	height: 140px;
	margin: 18px 0 0 20px;
	.plan-list{
		dd{
			float: left;
			width: 300px;
			margin-left: 5px;
			a{
				color: #000;
				&:hover{
					color: #0055a5;
				}
			}
		}
	}
	.plan-more{
		margin-right: 12px;
	}
}

.editor-words{
	margin: 18px 10px 0;
	h3{
		height: 30px;
		.words{
			float: left;
			width: 79px;
			height: 29px;
			line-height: 20px;
			text-align: center;
			color: #fff;
			font-size: 16px;
			font-family: $msyh;
			background: url(../images/plan_sprites.jpg) 0 -30px no-repeat;
		}
	}
	p{
		line-height: 30px;
		color: #3a3939;
		margin-left: 7px;
		text-indent: 2em;
		a{
			color: #0055a5;
			&:hover{
				color: #d51519;
				text-decoration: none;
			}
		}
	}
}

.plan-number-one{
	margin: 20px 0 5px;
	height: 34px;
	line-height: 34px;
	a.review{
		float: left;
		height: 100%;
		margin-left: 15px;
		padding-left: 191px;
		color: #000;
		font-size: 16px;
		font-family: $msyh;
		background: url(../images/plan_nuber_one_plan.jpg) 0 0 no-repeat;
		&:hover{
			color: #d51519;
			text-decoration: none;
		}
	}
	a.more{
		float: right;
		color: #fff;
		font-size: 12px;
		width: 51px;
		height: 14px;
		line-height: 14px;
		margin: 20px 0 0;
		padding-left: 73px;
		text-align: center;
		background: url(../images/plan_sprites.jpg) 0 0 no-repeat;
		&:hover{
			text-decoration: none;
			background-position: 0 -15px;
		}
	}
}

.plan-boxs{
	width: 640px;
	height: 150px;
	_height: 153px;
	margin: 15px 0 0 19px;
	.pb-text{
		width: 414px;
		margin-left: 13px;
		h2{
			font-size: 16px;
			font-family: $msyh;
			width: 100%;
			height: 20px;
			margin: 0 0 20px;
			@include crop;
			a{
				color: #113166;
				&:hover{
					color: #0055a5;
					text-decoration: none;
				}
			}
		}
		.plan-list{
			dd{
				float: left;
				width: 185px;
				margin-right: 10px;
			}
			a{
				color: #2f3031;
			}
		}
	}
}

.plan-side-box{
	height: 113px;
	margin-left: 20px;
	padding: 15px 0;
	h3{
		margin: 0 0 10px;
		width: 100%;
		@include crop;
		a{
			color: #0055a5;
			&:hover{
				color: #000;
				text-decoration: none;
			}
		}
	}
	.side-box-con{
		font-size: 12px;
		.text{
			p,.tt,dl{padding-left: 130px;}
			p{
				margin-right: 15px;
				text-indent: 2em;
				a{
					color: #606060;
					&:hover{
						color: #000;
					}
				}
			}
			.tt{
				font-size: 14px;
				line-height: 1;
				margin: 0 0 5px;
				a{
					color: #113166;
					font-family: $msyh;
					&:hover{
						color: #000;
						text-decoration: none;
					}
				}
			}
			dl{
				padding-left: 130px;
				line-height: 24px;
				dd{
					height: 24px;
				}
			}
		}
	}
}
.keep-on-eyes{
	.plan-side-box{
		height: 90px;
	}
}

.side-gap{
	height: 0px;
	font-size: 0;
	margin: 0 5px;
	border-bottom: 1px dashed #d7d7d7;
}

.plan-act{
	padding: 11px 11px 0;
	h3{
		height: 35px;
		a{
			float: left;
			width: 85px;
			height: 23px;
			text-indent: -9999px;
			background: url(../images/plan_sprites.jpg) 0 -60px no-repeat;
			&:hover{
				background-position: 0 -84px;
			}
		}
	}
	.usr{
		margin: 5px 0 0;
		.name{
			margin-left: 12px;
			padding-left: 10px;
			font-weight: bold;
			background: url(../images/4px_dot_blue.jpg) 0 9px no-repeat;
			a{
				color: #313030;
				&:hover{
					color: #0055a5;
					text-decoration: none;
				}
			}
		}
		p{
			margin: 0 22px;
			line-height: 22px;
			text-indent: 2em;
			a{
				color: #313030;
				&:hover{
					color: #595757;
				}
			}
		}
	}
	.look-more{
		margin: 10px 5px 0;
		padding-right: 15px;
		height: 34px;
		line-height: 34px;
		border-top: 1px dotted #d7d7d7;
	}
}

/* social page */
.social-list,.social-list2{
	line-height: 30px;
	dd{
		height: 30px;
		padding-left: 25px;
		background: url(../images/2px_dot_black.jpg) 17px 50% no-repeat;
		&:hover{
			background: url(../images/2px_dot_green.jpg) 17px 50% no-repeat;
		}
		a{
			float: left;
			color: #000;
			width: 100%;
			@include crop;
			&:hover{
				color: #0f8a91!important;
				text-decoration: none;
			}
		}
	}
}
.social-list2{
	line-height: 24px;
	dd{
		height: 24px;
		padding-left: 12px;
		background: url(../images/2px_dot_6d.jpg) 6px 50% no-repeat;
		&:hover{
			background: url(../images/2px_dot_green.jpg) 6px 50% no-repeat;
		}
		a{
			color: #6d6d6d;
		}
	}
}
.un-list-style{
	dd{
		padding: 0;
		background: none;
		&:hover{
			background: none;
		}
	}
}
.g-box{
	.un-list-style{
		margin: 0 10px;
	}
}
.social-provinces{
	height: 109px;
	padding: 20px 0 0;
	line-height: 30px;
	a{
		float: left;
		color: #000;
		margin-left: 12px;
		padding-left: 8px;
		background: url(../images/2px_dot_black.jpg) 0 50% no-repeat;
		&:hover{
			color: #0f8a91!important;
			text-decoration: none;
			background: url(../images/2px_dot_green.jpg) 0 50% no-repeat;
		}
	}
}
.social-news-brief{
	margin: 0 0 10px;
	padding: 0 0 15px;
	border-bottom: 1px dotted #d7d7d7;
	h3{
		width: 100%;
		@include crop;
		text-align: center;
		a{
			color: #0f8a91;
			font-size: 16px;
			font-family: $ht, $msyh;
			&:hover{
				color: #000;
				text-decoration: none;
			}
		}
	}
	p{
		font-size: 12px;
		margin: 10px 15px;
		text-indent: 2em;
		line-height: 24px;
		a{
			color: #464646;
			span{
				color: #EE8325;
			}
			&:hover{
				span{
					color: #CD3622;
				}
			}
		}
	}
}
.social-culture-area{
	.ca-con{
		height: 195px;
		margin: 10px 0 0;
		padding-left: 12px;
		.presentation{
			float: left;
			width: 350px;
			h3{
				height: 22px;
				line-height: 22px;
				text-align: center;
				a{
					color: #0d0d0d;
					&:hover{
						color: #f08220;
						text-decoration: none;
					}
				}
			}
		}
		.social-list{
			float: left;
			width: 300px;
			margin: 8px 0 0 20px;
			dd{
				a{
					&:hover{
						color: #000!important;
						text-decoration: underline;
					}
				}
			}
		}
	}
}
.social-people{
	padding: 22px 0 25px 11px;
	.social-p{
		height: 107px;
		.con{
			float: left;
			width: 518px;
			height: 100px;
			padding-left: 10px;
			.p-desc{
				float: left;
				width: 205px;
				margin: 15px 0 0;
				h3{
					text-indent: 2em;
					a{
						color: #0d0d0d;
						font-weight: bold;
						&:hover{
							color: #cd3622;
							text-decoration: none;
						}
					}
				}
				p{
					font-size: 12px;
					text-indent: 2em;
					a{
						color: #515151;
						span{
							color: #EE8325;
						}
						&:hover{
							color: #000;
							span{
								color: #CD3622;
							}
						}
					}
				}
			}
			.social-list{
				float: left;
				width: 295px;
				margin: 5px 0 0 15px;
				dd{
					a{
						color: #5c5c5c;
					}
				}
			}
		}
	}
}
.social-grace{
	.sg{
		height: 96px;
		margin: 10px 0 0 5px;
		h3{
			margin-left: 120px;
			a{
				color: #5f5d5e;
				&:hover{
					color: #373636;
					text-decoration: none;
				}
			}
		}
		p{
			font-size: 12px;
			margin-left: 120px;
			text-indent: 2em;
			a{
				color: #515151;
				span{
					color: #EE8325;
				}
				&:hover{
					color: #000;
					text-decoration: none;
					span{
						color: #CD3622;
					}
				}
			}
		}
	}
}
.social-custom{
	height: 93px;
	.rel-text{
		padding: 0 10px 0 134px;
		h3{
			height: 24px;
			line-height: 24px;
			width: 100%;
			@include crop;
			a{
				color: #1868a9;
				&:hover{
					color: #0f8a91;
					text-decoration: none;
				}
			}
		}
		p{
			font-size: 12px;
			text-indent: 2em;
			a{
				color: #878686;
				span{
					color: #EE8325;
				}
				&:hover{
					color: #000;
					text-decoration: none;
					span{
						color: #CD3622;
					}
				}
			}
		}
	}
}
.social-mw{
	height: 279px;
	padding-right: 10px;
	h3{
		height: 24px;
		line-height: 24px;
		text-align: center;
		margin: 0 0 5px;
		a{
			color: #3560b0;
			&:hover{
				color: #0f8a91;
				text-decoration: none;
			}
		}
	}
	p{
		font-size: 12px;
		text-indent: 2em;
		a{
			color: #515151;
			span{
				color: #EE8325;
			}
			&:hover{
				color: #000;
				text-decoration: none;
				span{
					color: #CD3622;
				}
			}
		}
	}
}
.social-food{
	height: 132px;
	dl{
		padding-left: 141px;
	}
}
.social-bottom-gap{
	height: 22px;
	background: url(../images/social_bottom_bg.jpg) repeat-x;
}

/* book page */
.books-list{
	line-height: 30px;
	dd{
		height: 30px;
		padding-left: 22px;
		background: url(../images/2px_dot_black.jpg) 13px 50% no-repeat;
		a{
			float: left;
			color: #000;
			width: 100%;
			@include crop;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.books-a,.books-b{
	height: 95px;
	line-height: 30px;
	a{
		color: #000;
		float: left;
		width: 320px;
		height: 30px;
		margin-left: 15px;
		padding-left: 18px;
		background: url(../images/book_arrow.jpg) 0 50% no-repeat;
	}
}
.books-series{
	.books-a{
		height: auto;
		a{
			float: none;
			display: block;
			margin-left: 6px;
		}
	}
}
.books-b{
	height: auto;
	a{
		float: none;
		display: block;
		width: auto;
		margin-left: 10px;
		background: url(../images/5px_dot_black.jpg) 0 50% no-repeat;
	}
}
.books-fl{
	height: 95px;
	line-height: 30px;
	a{
		color: #000;
		float: left;
		width: 330px;
		height: 30px;
		margin-left: 5px;
		padding-left: 12px;
		background: url(../images/2px_dot_black.jpg) 5px 50% no-repeat;
	}
}
.books-hero{
	.headline{
		line-height: 1;
		text-align: center;
		a{
			color: $c-b2;
			font-size: 38px;
			font-family: $msyh, sans-serif;
		}
	}
	.sub-desc{
		font-size: 12px;
		margin: 15px;
		a{
			color: #000;
		}
	}
}
.books-lib{
	height: 225px;
	background: #fdf5f2 url(../images/book_lib.jpg) no-repeat;
	.books-show{
		float: left;
		width: 890px;
		height: 210px;
		padding: 7px 0 0 105px;
		ul{
			width: 870px;
			height: 200px;
			padding: 8px 0 0 8px;
			background: #fff;
			li{
				float: left;
				width: 118px;
				text-align: center;
				margin-right: 6px;
				img{
					display: inline-block;
				}
				a{
					display: inline-block;
					&.book{
						float: left;
						width: 118px;
						height: 166px;
						overflow: hidden;
						margin: 0 0 6px;
					}
				}
				span{
					display: block;
					a{
						width: 81px;
						height: 21px;
						background: url(../images/book_btn_buy_bg.jpg) no-repeat;
					}
				}
			}
		}
	}
}
.famous-col{
	height: 125px;
	_height: 118px;
	padding: 12px 0 0;
	overflow: hidden;
	.fc-box{
		float: left;
		width: 225px;
		padding: 0 5px;
		border-right: 1px solid #e7ac6c;
		& > a{
			display: block;
			height: 38px;
			margin: 0 0 5px;
			overflow: hidden;
		}
		p{
			font-size: 12px;
			line-height: 20px;
			_line-height: 18px;
			a{
				color: #000;
			}
		}
	}
}
.foreign-rec{
	margin: 15px 0 0;
	h3{
		width: 100%;
		font-weight: bold;
		text-align: center;
		a{
			color: $c-b2;
		}
	}
	.fr-con{
		height: 68px;
		padding: 8px 13px 0 13px;
		a.fl{
			height: 60px;
		}
		p{
			padding-left: 85px;
			font-size: 12px;
			line-height: 20px;
			a{
				color: #000;
			}
		}
	}
}

/* uni (is short for university) page */
.uni-list,.uni-list2{
	line-height: 30px;
	dd{
		height: 30px;
		padding: 0 5px 0 12px;
		a{
			display: block;
			color: #464545;
			width: 100%;
			@include crop;
			&:hover{
				color: $c-73;
				text-decoration: none;
			}
		}
	}
}
.uni-col2{
	.uni-list{
		dd{
			padding-left: 0;
		}
	}
	.uni-indent{
		.uni-list{
			dd{
				padding-left: 12px;
			}
		}
	}
}
.uni-list2{
	line-height: 28px;
	dd{
		height: 28px;
		padding: 0 0 0 13px;
		background: url(../images/5px_dot_green_circle.jpg) 0 50% no-repeat;
	}
}
.uni-news{
	h3{
		letter-spacing: 2px;
		margin: 10px 0 5px;
		a{
			color: $c-07;
			font-size: 16px;
			font-weight: bold;
			&:hover{
				text-decoration: none;
			}
		}
	}
}
.uni-dao{
	color: #696868;
	padding: 10px 0 0;
	letter-spacing: 1px;
	.dao-box{
		height: 85px;
		overflow: hidden;
		h3{
			font-size: 16px;
			font-weight: bold;
			margin: 0 0 3px;
			a{
				color: #696868;
				&:hover{
					color: $c-07;
					text-decoration: none;
				}
			}
		}
		p{
			font-size: 13px;
			line-height: 20px;
			a{
				color: $c-73;
				&:hover{
					color: $c-07;
					text-decoration: none;
				}
			}
		}
	}
	.dao-box2{
		height: 118px;
		a.fl{
			height: 84px;
			margin-right: 10px;
		}
	}
	.dao-gap{
		font-size: 0;
		height: 1px;
		margin: 10px 0;
		background: url(../images/uni_gap_bg_repeat.jpg) 50% 50% repeat-x;
	}
}
.uni-bulletin{
	padding: 15px 0 0;
	.bulletin-box{
		margin: 0 0 15px;
		padding-left: 45px;
		position: relative;
		.lable{
			position: absolute;
			left: 5px;
			a{
				margin-right: 3px;
				&:hover{
					text-decoration: none;
				}
			}
		}
		p{
			a{
				&:hover{
					color: $c-73;
					text-decoration: none;
				}
			}
		}
	}
}
.uni-alumni{
	height: 360px;
	line-height: 30px;
	padding: 6px 0;
	a{
		float: left;
		white-space: nowrap;
		margin-left: 17px;
	}
}
.uni-foreign-famous{
	padding: 15px 20px 20px;
	.fu-pic{
		display: block;
		height: 130px;
		text-align: center;
		img{
			display: inline-block;
		}
	}
	h3{
		margin: 10px 0 15px;
		font-weight: bold;
		text-align: center;
		width: 100%;
		@include crop;
		a{
			color: $c-07;
			&:hover{
				color: $c-73;
				text-decoration: none;
			}
		}
	}
	p{
		color: #696868;
		font-size: 13px;
		text-indent: 2em;
		line-height: 20px;
		a.detail{
			color: $c-73;
			&:hover{
				color: $c-07;
				text-decoration: none;
			}
		}
	}
}
.uni-subject{
	padding: 11px 0;
	h3{
		height: 22px;
		line-height: 22px;
		font-weight: bold;
		margin: 0 0 5px;
		a{
			float: left;
			color: $c-07;
			margin-left: 14px;
			padding-left: 12px;
			background: url(../images/uni_hd5_bg.jpg) 0 3px no-repeat;
			&:hover{
				text-decoration: none;
			}
		}
	}
	.subjects{
		height: 170px;
		line-height: 28px;
		a{
			float: left;
			width: 110px;
			height: 28px;
			margin-left: 14px;
			@include crop;
			&:hover{
				color: $c-73;
				text-decoration: none;
			}
		}
	}
}
.uni-col1{
	.uni-subject{
		.subjects{
			a{
				width: 156px;
			}
		}
	}
}
.uni-feature-plan{
	height: 270px;
	padding: 13px 0 0;
	background: #fff url(../images/uni_feature_plan_bg.jpg) 0 0 repeat-x;
	.fp-detail{
		height: 112px;
		padding: 0 5px;
		a.fl{
			border: 1px solid #e6e6e6;
			img{
				float: left;
			}
		}
		h3{
			margin: 0 0 3px;
			padding-left: 122px;
			font-weight: bold;
			a{
				color: $c-07;
				&:hover{
					color: $c-73;
					text-decoration: none;
				}
			}
		}
		p{
			color: #696868;
			font-size: 13px;
			padding-left: 122px;
			a{
				color: $c-73;
				&:hover{
					color: $c-07;
					text-decoration: none;
				}
			}
		}
	}
}
.uni-click-to-top{
	display: block;
	width: 35px;
	height: 35px;
	background: url(../images/uni_to_top.jpg) 0 -35px no-repeat;
	margin-left: 1050px;
	position: fixed;
	bottom: 200px;
	span{
		display: none;
	}
}

@import "partial/footer";

/* global cascading style */
.gl-wrapper .footer .rel-link{h3{color: #3171b9;} a:hover{color: #005dab;}} 

.law-wrapper .footer .rel-link h3{color: #2f3942;}
.law-wrapper .footer .rel-link a:hover,
.law-wrapper .law-sermon h2 a:hover,
.law-wrapper .law-sermon a:hover .c15{color: $c-96!important;}
.law-wrapper .law-sermon p a{color: #585858;}

.edu-wrapper .footer .rel-link h3{color: #006069;}
.edu-wrapper .footer .rel-link a:hover,
.edu-wrapper .edu-observe h2 a:hover,
.edu-wrapper .edu-observe a:hover .c15{color: #006f63!important;}

.phi-wrapper .footer .rel-link{h3{color: #3171b9;} a:hover{color: #2670a6; text-decoration: none;} div{padding-left: 5px;a{margin-right: 8px;}}}

.book-wrapper .header .top-nav{background: #e6aa6c;}
.book-wrapper .footer .rel-link h3,
.book-wrapper .header .sub-nav a:hover{color: #e6aa6c;}
.book-wrapper .footer{border-top: 4px solid #e6aa6c;}
.book-wrapper .footer .rel-link{border: none;}
.book-wrapper .footer .rel-link div span{float: left; margin-right: 10px;}
.book-wrapper .footer .rel-link div a{margin-right: 10px;}
.book-wrapper .footer .ft-link{border-top: 2px solid #e6aa6c; border-bottom: none;}

.uni-wrapper .header .top-nav{color: #f0edce; background: #bebebe; a{color: #f0edce;}}
.uni-wrapper .footer .rel-link{padding: 8px 6px 6px; border: 1px solid #ddf0ff; border-top: 2px solid #9ac5e9; h3{background: #f9f9f9; font-weight: normal; span{display: inline-block; padding: 3px 9px; color: #0759a0; background: #dbefff;}} div{padding: 8px; width: 972px; background: #f9f9f9;} a:hover{color: #73a7d0; text-decoration: none;}}
