/* main navs */
.gl-main-nav{
	font-size: 14px;
	text-align: center;
	height: 26px;
	border: 5px solid $c-1e;
	border-width: 5px 0 2px;
	margin: 10px 0 22px;
	.mn{
		margin: 3px 0 0;
		span{
			margin: 0 4px;
		}
		a{
			color: #525f94;
			display: inline-block;
			margin: 0 4px;
			font-family: $msyh;
			&:hover{
				color: #005dab;
				font-weight: bold;
				text-decoration: none;
			}
		}
	}
}

.law-main-nav{
	color: $c-96;
	height: 28px;
	line-height: 28px;
	border: 3px solid $c-96;
	margin: 10px 0 20px;
	padding-left: 14px;
	position: relative;
	.right-arrow{
		display: block;
		width: 12px;
		height: 34px;
		background: url(../images/law/sprites_law.jpg) 0 0 no-repeat;
		position: absolute;
		top: -3px;
		right: -3px;
	}
	.mn{
		span{
			margin: 0 10px;
		}
		a{
			color: $c-96;
			&:hover{
				font-weight: bold;
			}
		}
	}
}

.edu-main-nav{
	color: #005466;
	height: 44px;
	margin: 11px 0 20px;
	background: url(../images/edu/edu_main_nav_bg.jpg) 0 0 no-repeat;
	.mn{
		height: 24px;
		line-height: 24px;
		padding: 6px 0 0 10px;
		span{
			margin: 0 5px;
		}
		a{
			color: #005466;
			&:hover{
				font-weight: bold;
			}
		}
	}
}

.phi-main-nav{
	height: 52px;
	margin: 11px 0 10px;
	margin-right: -1px;
	_margin-right: 0;
	background: url(../images/philosophy/phi_main_nav_bg.jpg) 0 0 repeat-x;
	position: relative;
	span{
		display: block;
		width: 4px;
		height: 52px;
		background: url(../images/philosophy/phi_main_nav_bg.jpg) no-repeat;
		position: absolute;
		top: 0;
		&.lt-bd{
			left: 0;
			background-position: 0 -52px;
		}
		&.rt-bd{
			right: 0;
			background-position: 0 -104px;
		}
	}
	.mn{
		width: 100%;
		height: 24px;
		line-height: 24px;
		margin-left: 2px;
		padding-top: 12px;
		a{
			float: left;
			margin: 0 6px;
			color: #fff;
			font-size: 17px;
			font-family: $msyh;
			-webkit-text-shadow: 1px 0 2px rgba(21,67,129,0.71);
			-moz-text-shadow: 1px 0 2px rgba(21,67,129,0.71);
			text-shadow: 1px 0 2px rgba(21,67,129,0.71);
			&:hover{
				text-decoration: none;
				color: #00fff0;
			}
		}
	}
}

.plan-main-nav{
	height: 27px;
	line-height: 27px;
	margin: 8px 0 16px;
	border: 1px solid #4d505d;
	background: url(../images/plan/plan_main_nav_bg.jpg) 0 0 repeat-x;
	.lt{
		float: left;
		width: 30px;
		height: 27px;
		background: url(../images/plan/plan_main_nav_lt_bg.jpg) 0 0 no-repeat;
	}
	.mn{
		float: right;
		margin-right: 30px;
		a{
			float: left;
			margin-right: 10px;
			padding: 0 5px;
			color: #fff;
			font-size: 14px;
			font-family: $msyh;
			&:hover{
				text-decoration: none;
				background: url(../images/plan/plan_main_nav_bg.jpg) 0 -27px repeat-x;
			}
		}
	}
}

.social-main-nav{
	height: 31px;
	margin: 13px 0 14px;
	background: url(../images/social/main_nav_bg.jpg) 0 0 no-repeat;
	.mn{
		float: left;
		padding-left: 35px;
		a{
			float: left;
			color: #fff;
			font-weight: bold;
			padding: 0 12px;
			height: 31px;
			line-height: 30px;
			&:hover{
				text-decoration: none;
				background: url(../images/social/main_nav_hover_bg.jpg) 0 0 repeat-x;
			}
		}
		span{
			float: left;
			margin: 8px 0 0;
			font-size: 0;
			width: 1px;
			height: 14px;
			background: #fff;
		}
	}
}

.book-main-nav{
	height: 32px;
	line-height: 32px;
	margin: 11px 0 14px;
	background: #e6aa6c;
	.mn{
		float: left;
		a{
			float: left;
			color: #fff;
			font-family: $msyh;
			font-weight: bold;
			padding: 0 7px;
			background: url(../images/book/main_nav_bg.jpg) 100% 2px no-repeat;
			&.first{
				padding-left: 15px;
			}
			&.last{
				padding-right: 19px;
				background-image: none;
			}
			&:hover{
				text-decoration: none;
				background: #b24540;
			}
		}
	}
}